### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [22]:
import pandas as pd

def cl (rat):
    if rat <= 2: res = 'низкий рейтинг'
    elif rat <= 4: res = 'средний рейтинг'
    elif rat > 4: res = 'высокий рейтинг'
    else: res = 'Rating error!'
    return res

df_m = pd.read_csv('11 Функции_в_pandas_и_тесты/ml-latest-small/movies.csv')
df_r = pd.read_csv('11 Функции_в_pandas_и_тесты/ml-latest-small/ratings.csv')
df_f = df_r.merge(df_m,on='movieId', how='left')

df_f['class'] = df_f['rating'].apply(cl)
df_f.head()

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [54]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

def reg (val): 
    for r in geo_data:
        if val in geo_data[r]:
            return r
    return 'undefined'
    
df = pd.read_csv('11 Функции_в_pandas_и_тесты/ml-latest-small/keywords.csv')
df['region'] = df['keyword'].apply(reg)
df.groupby('region').count().head()

                keyword  shows
region
undefined         99991  99991
Дальний Восток        3      3
Северо-Запад          3      3
Центр                 3      3

### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.
Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
P/S/ все файлы находятся в архиве «дополнительные файлы к лекции и дз»

In [ ]:
def production_year (row):
    for y in years:
        if str(y) in row['title']: return y
    return 1900

df_m = pd.read_csv('11 Функции_в_pandas_и_тесты/ml-latest-small/movies.csv')
df_r = pd.read_csv('11 Функции_в_pandas_и_тесты/ml-latest-small/ratings.csv')
df_f = df_r.merge(df_m,on='movieId', how='left')
years = range(1950,2011)

df_f['year'] = df_f.apply(production_year, axis=1)
df_f.groupby(year).rating.mean().head()
# df_f.head()

In [87]:
df_f.groupby('year').rating.mean().reset_index().sort_values('rating', ascending=False).head(10)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
25  1974  3.978704
13  1962  3.952446
1   1950  3.915254
28  1977  3.905786
15  1964  3.841492